<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="images/Juke.png">
        <link rel="stylesheet" href="style.css">
        <title>Juke.</title>
    </head>
    <body id="body">
        <main>
            <div class="aanmelden"> 
                <img src="images/Juke.svg" alt="logo">
                <p>Ontdek muziek die perfect bij jou past! Verbind met je Spotify-account om aanbevelingen te ontvangen op basis van jouw favorieten.</p>
                <!-- <button class="Spotify-btn" action></button> -->
                <a href="/login" class="Spotify-btn"><img src="images/Spotify.svg">Verbind met Spotify</a>
            </div>
        </main>
        <footer class="footer">
            <div id="background">
                <img src="images/ConnectText.svg" alt="animation" class="img-animatie">
            </div>
        </footer>
    </body>
</html>