<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header id="genreHeader">
        <%- include('../partials/nav') %>
        <a href="/zoek" class="backArrow"><img src="/images/arrowBlack.svg"></a>
        <h1>Genres</h1>
        <input type="text" class="zoeken" placeholder="Zoeken...">
    </header>

    <main>
        <section class="searchList">
            <ul>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
            </ul>
        </section>
    </main>

    <script defer src="/scripts/app.js"></script>
</body>

</html>