<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/Juke.png">
    <link rel="stylesheet" href="style.css">
    <title>Juke.</title>
</head>

<body>
    <header>
        <%- include('../partials/nav', { user: user }) %>
        <div id="genreHeaderDiv">
            <a href="/profiel" class="backArrow"><img src="images/arrow.svg" class="blackversion"></a>
            <h1>gelikete nummers</h1>
        </div>
    </header>
    <main>
        <div id="liked">
            <div id="likedClass">
                <div class="likedList">
                    <img src="images/Harry.jpeg" alt="harry">
                    <h4>Title</h3>
                        <p>artiest</p>
                </div>
                <div class="likedList">
                    <img src="images/Harry.jpeg" alt="harry">
                    <h4>Title</h3>
                        <p>artiest</p>
                </div>
                <div class="likedList">
                    <img src="images/Harry.jpeg" alt="harry">
                    <h4>Title</h3>
                        <p>artiest</p>
                </div>
                <div class="likedList">
                    <img src="images/Harry.jpeg" alt="harry">
                    <h4>Title</h3>
                        <p>artiest</p>
                </div>
                <div class="likedList">
                    <img src="images/Harry.jpeg" alt="harry">
                    <h4>Title</h3>
                        <p>artiest</p>
                </div>
                <div class="likedList">
                    <img src="images/Harry.jpeg" alt="harry">
                    <h4>Title</h3>
                        <p>artiest</p>
                </div>
                <div class="likedList">
                    <img src="images/Harry.jpeg" alt="harry">
                    <h4>Title</h3>
                        <p>artiest</p>
                </div>
            </div>
        </section>
    </main>
    <script defer src="scripts/handleSwiping.js"></script>
</body>

</html>