<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoek</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header id="searchHeader">
        <%- include('../partials/nav') %>
        <h1>Zoek</h1>
        <input type="text" class="zoeken" placeholder="Zoeken...">
    </header>

    <main>
        <section class="searchList">
            <h2>Top genres</h2>
            <p>Swipe en ontdek op basis van een specifieke genre</p>
            <ul>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
            </ul>
            <a href="/genres" class="moreLink">Meer weergeven</a>
        </section>
        <section class="searchList">
            <h2>Jouw topartiesten</h2>
            <p>Swipe en ontdek op basis van een specifieke artiest</p>
            <ul >
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
                <li>
                    <img src="images/pop.jpg" alt="pop">
                    <p>Pop</p>
                    <a href="/verkennen">Swipe</a>
                </li>
            </ul>
        </section>
    </main>

    <script defer src="/app.js"></script>
</body>

</html>
