@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Unbounded:wght@400;600;700&display=swap');

:root {
    /* Kleuren */
    --primary: #EB8802;
    --secondary: #FFC570;
    --accent: #FFD774;
    --dark: #292929;
    --light: #FAFAFC;
    --grey: #8b8b8b;

    /* Typografie */
    --d1: 3em;
    --h1: 2.5em;
    --h2: 2em;
    --h3: 1.5em;
    --h4: 1.25em;
    --p1: 1.1em;
}

/* Algemene stijlen */

body {
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    background-color: var(--light);
    margin: 1em;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Koppen */
h1 {
    font-size: var(--h1);
    font-weight: bold;
}

h2 {
    font-size: var(--h2);
    font-weight: bold;
    color: #000;
}

h3 {
    font-size: var(--h3);
    font-weight: bold;
}

h4 {
    font-size: var(--h4);
    font-weight: bold;
}

p {
    font-size: var(--p1);
    margin-top: 0;
    margin-bottom: 1em;
}

header {
    padding-bottom: 1.25em;
}

button {
    font-family: 'Poppins', sans-serif;
}

/* Zoek-pagina */

#searchHeader {
    border-bottom: solid 0.1em var(--dark)
}

.searchBar {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
}

.searchList {
    position: relative;
    margin-bottom: 3em;
}

.searchList ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.searchList li {
    display: flex;
    align-items: center;
    width: 100%;
}
.searchList li > div {
    display: flex;
    align-items: center;
    width: 100%;
}

.searchList img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    margin-right: 1.5em;
}

.searchList p {
    margin: 0;
}

.searchList li input[type="submit"] {
    font-size: 1em;
    font-weight: 600;
    color: var(--dark);
    background-color: var(--primary);
    border: none;
    border-radius: 0.5em;
    padding: 0.6em 0.9em;
    margin-left: auto; 
    cursor: pointer;
    text-decoration: none;
}

.searchList li input[type="submit"]:hover {
    scale: 1.1;
    filter: drop-shadow(var(--primary) 0.1em 0.1em 0.9em);
}

.moreLink {
    color: var(--primary);
    float: right;
}

/*//////////////*/
/* genre-pagina */
/*//////////////*/

#genreHeaderDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.backArrow {
    position: absolute;
    left: 0;
    width: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backArrow img {
    transform: rotate(180deg);
    width: 1.4em;
    height: auto;
    fill: var(--light);
}

/* profiel-pagina */

#user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

#user img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-right: 1.5em;
}

#user button {
    display: flex;
    align-self: center;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--dark);
    background-color: var(--primary);
    border: none;
    border-radius: 0.5em;
    padding: 0.6em 0.9em;
    cursor: pointer;
    margin-left: auto; 
}

#user button:hover {
    scale: 1.1;
    filter: drop-shadow(var(--primary) 0.1em 0.1em 0.9em);
}

#stats {
    margin-bottom: 1em;
}

#statsLijst {
    display: flex;
}

#statsLijst div {
    margin-right: 1em;
}

#statsGenre {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;  /* Firefox */
}

#statsGenre::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#statsGenre p {
    display: inline-block;
    padding: 0.3em 0.6em;
    margin: 0.3em;
    background-color: var(--accent);
    border: 0.1em solid var(--accent);
    border-radius: 0.3em;
    text-align: center;
    min-width: max-content;
}

#statsGenre p:first-of-type {
    margin-left: 0;
}

#activiteit > div {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
    margin-right: 1em;
}

.cardProfiel {
    aspect-ratio: 1 / 1;
    border-radius: 0.5em;
    max-width: 100%;
}

.cardProfiel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.5em 0.5em 0 0;
}

.cardProfiel div {
    padding: 0.2em 0.5em;
    background: var(--primary);
    height: 35%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 0.5em 0.5em;
}

.cardProfiel h4 {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}

.cardProfiel p {
    font-size: 0.8em;
}

/* -----------------nav------------------------ */
.dropdown h2{
    display: none;
}

.dropdown {
    position: absolute; 
    bottom: 1em; 
    right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.navigatieButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 0.1em var(--light);
    background-color: var(--dark);
    /* border: none; */
    width: 4em;
    height: 4em;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.navigatieButton span {
    position: absolute;
    width: 1.8em;
    height: .25em;
    background-color: var(--light);
    transition: .3s;
}

.navigatieButton span:nth-of-type(1) {
    transform: translateY(-.6em);
}

.navigatieButton span:nth-of-type(2) {
    transform: translateY(0em);
}

.navigatieButton span:nth-of-type(3) {
    transform: translateY(.6em);
}

.navigatieContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 5em; 
    background-color: var(--primary);
    border-radius: 2em;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-out;
}

.navigatieContent.open {
    max-height: 500px; 
    padding: .5em;
}

.navigatieContent a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: .5em;
    background-color: var(--light);
    width: 3em;
    height: 3em;
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in;
}

.navigatieContent a img {
    max-width: 2em;
    max-height: 2em;
}

.navigatieContent p {
    display: none;
 }
 

/* -------------------open--------------------------- */

.navigatieButton.open span:nth-of-type(1) {
    transform: rotate(45deg);
}

.navigatieButton.open span:nth-of-type(2) {
    display: none;
}

.navigatieButton.open span:nth-of-type(3) {
    transform: rotate(-45deg);
}

.navigatieContent.open a {
    transform: translateY(0);
    opacity: 1;
}
.navigatieContent.open p {
   display: none;
}

.navigatieContent.open a:nth-of-type(1) {
    transition-delay: 0.1s;
}

.navigatieContent.open a:nth-of-type(2) {
    transition-delay: 0.15s;
}

.navigatieContent.open a:nth-of-type(3) {
    transition-delay: 0.2s;
}


/* ----------------connectpage-------------- */


.aanmelden{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.aanmelden p{
    text-align: center;
    width: 80%;
    padding: 2em 0;
}

.Spotify-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1em;
    background-color: var(--primary);
    width: 80%;
    padding: .5em;
    font-family: 'Poppins';
    color: var(--light);
    font-size: 1.1em;
    box-shadow: .1em .1em 1em var(--grey);
    z-index: 2;
    text-decoration: none;
}

.Spotify-btn img{
    width: 2em;
    height: 2em;
    padding: 0 .2em;
}

#background{
    background-color: var(--dark);
    width: 100%;
    padding: 2em 0;
    border-radius: 6em 0 0 0;
}
.img-animatie{
    display: block;
    margin: 2em auto;
    /* margin-left: auto;
    margin-right: auto; */
    width: 10em;
    animation: rotation 8s infinite ease;
    animation-timing-function: linear;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-left: calc(1em); 
    height: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    26% {
        transform: rotate(80deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* -------------------swipepagina--------------- */

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verkennen{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2em;
}
.verkennen p{
    margin-top: -.5em;
    color: var(--primary);
}

.cards-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.cards-container .card:nth-of-type(1) {
    z-index: 10;
}

.card{
    position: absolute;
    top: 0;
    width: 18em;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    user-select: none;
}
.card article {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 .05em .5em var(--grey);
    overflow: hidden;
    background: var(--light);
}

.card article > header {
    width: 100%;
    height: 75%;
    background-size: cover;
    background-position: center;
}

.card article > section {
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}

.card article > section > div {
    display: flex;
    flex-direction: column;
}

.card section > div > h3 {
    margin: 0;
    text-overflow: ellipsis;
}

.card section > div > p {
    margin-top: -.3em;
    margin-bottom: 0;
    text-overflow: ellipsis;
}
.card section > aside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card section > aside > p {
    margin: 0;
}

.buttons {
    position: absolute;
    bottom: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.buttons button {
    width: 5em;
    height: 5em;
    border: none;
    border-radius: 50%;
    background-color:var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
   margin: 0 1em;
}

.buttons button img{
    width: 2.5em;
    height: 2.5em;
}
.track-buttons {
    position: absolute;
    bottom: -35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-buttons form {
    display: flex;
    align-items: center;
}

.track-buttons button {
    width: 5em;
    height: 5em;
    border: none;
    border-radius: 50%;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 1em;
    position: relative;
}

.track-buttons button img {
    width: 2.5em;
    height: 2.5em;
}

.track-buttons .preview-button {
    width: 6em;
    height: 6em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-buttons .preview-button img {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    z-index: 2;
}

.track-buttons .progress-ring {
    position: absolute;
    scale: -1.2 1.2; /* spiegelt circle */
    rotate: 90deg; /* start op 12 uur */
    z-index: 1;
}

.track-buttons .progress-ring circle {
    fill: none;
    stroke: var(--primary);
    stroke-width: 0.3em;
    stroke-dasharray: 250;
    stroke-dashoffset: -250; 
}


/* -----------------media query-------------- */

@media (min-width: 992px) {
    .icon {
        filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(250%) contrast(103%);
    }
/* -------------------nav----------------- */
body{
    height:100vh;
}
.dropdown h2{
    display: contents;
    color: var(--light);
}

.dropdown {
    position: fixed;
    top:1em; 
    left: 1em;
    bottom: 1em;
    align-items: start;
    width:20%;
    padding: 1em 2em;
    background-color: var(--dark);
    border-radius: 0;
    z-index: 200;
}

.navigatieButton {
    justify-content: start;
    align-items: start;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    border: none;
}

.navigatieButton span {
    display: none;
}

.navigatieContent {
    align-items: center;
    justify-content: start;
    top: 10em;
    left: 0;
    background-color: transparent;
    z-index: 0;
    overflow: visible;
    transition: none;
    width: 100%;
}

.navigatieContent a {
    align-items: center;
    justify-content: start;
    border-radius: .4em;
    background-color: transparent;
    padding: .5em;
    opacity: 1;
    transition: none;
    width: 80%;
    text-decoration: none;

}

.navigatieContent a:visited {
   text-decoration: none;
   color: var(--light);
}

.navigatieContent a img {
    margin-right: .5em;
}

.navigatieContent p {
    display: contents;
    color: var(--light);
 }

    /* -------------------aanmeldpagina--------------- */
    .aanmelden{
        margin-top: 7em;
        margin-left: 4em;
        width: 50%;
        text-align: start;
        display: flex;
        justify-content: start;
        align-items: start;
    }
    .aanmelden img{
        width: 60%;
    }
    .aanmelden p{
        text-align: start;
        width: 60%;
        padding: 2em 0;
        margin-bottom: 3em;
    }
    
    .Spotify-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: .5em;
        background-color: var(--primary);
        width: 60%;
        padding: .5em;
        font-family: 'Poppins';
        color: var(--light);
        font-size: 1.1em;
        box-shadow: .1em .1em 1em var(--grey);
    
    }
    
    .Spotify-btn img{
        width: 2em;
        height: 2em;
        padding: 0 .2em;
    }
    
    .img-animatie{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: end;
        width: 50%;
        animation: rotation 10s infinite ease;
        animation-timing-function: linear;
    
    }

    #background{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-radius: 10em 0 0 0;
        height: 90vh;
    }
    .footer {
        right: 0;
        left: 50vw;
        height: 95vh;
        }
/* ---------------------verkennen------------------- */
       #main{
        width: 80%;
        float: right;
       }
    .verkennen{
            width: 80%;
            margin-top: 0;
        }
        .verkennen p{
            margin-top: -.5em;
            color: var(--primary);
        }
        .card{
            display: flex;
            align-items: center;
            margin-top: 0;
            width: 100%;
            height: 70vh;
        }
        .card article {
            box-shadow: none;
            border-radius: .4em;
            float: right;
            width: 50%;
        }
        .card article > header {
            height: 80%;
            opacity: .5;
            z-index: -1;
            background-position: top;

        }
        .card section > div  {
            margin: 0;
            margin-top: 0;
            z-index: 2;
        }
        .card section > aside > p {
            margin: 0;
            margin-top: 0;
        }
        
        .buttons {
            position: absolute;
            bottom: 2em;
            display: flex;
            justify-content: center;
            align-items: center;  
        }
    }

