<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create playlist</title>
</head>
<body>
    <h1>Welcome bij Juke</h1>
    <!-- if login data doesnt exist  -->
    <% if (!loggedIn) { %>
        <a href="/login">Log in with Spotify</a>
        <a href="/session-test">Log session token</a>
    <% } %>
    <% if (loggedIn) { %>
        <h1>Your Juke playlist</h1>
    <% } %>
    <script src="./server.js"></script>
</body>
</html>