<nav>
   
    <div class="dropdown"> 
        <h2>Hi Naam!</h2>
        <button aria-label="toggle-menu" class="navigatieButton">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navigatieContent">
            <a href="#"><img src="images/Verkennen.svg" alt="home icon" class="icon"><p>Swipen</p></a>
            <a href="#"><img src="images/zoeken.svg" alt="zoek icon" class="icon"><p>Verkennen</p></a>
            <a href="#"><img src="images/Profiel.svg" alt="profiel icon" class="icon"><p>Profiel</p></a>
        </div>
    </div>
</nav>