<nav>
    <div class="dropdown">
        <button aria-label="toggle-menu" class="navigatieButton">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navigatieContent">
            <a href="#"><img src="images/Verkennen.svg" alt="home icon"><p>Swipen</p></a>
            <a href="#"><img src="images/zoeken.svg" alt="zoek icon"><p>Verkennen</p></a>
            <a href="#"><img src="images/Profiel.svg" alt="profiel icon"><p>Profiel</p></a>
        </div>
    </div>
</nav>