<nav>
    <div class="dropdown">
        <button aria-label="toggle-menu" class="navigatieButton">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navigatieContent">
            <a href="#"><img src="images/Verkennen.svg" alt="home icon"></a>
            <a href="#"><img src="images/zoeken.svg" alt="zoek icon"></a>
            <a href="#"><img src="images/Profiel.svg" alt="profiel icon"></a>
        </div>
    </div>
</nav>